
      <body>
        <nav class="navbar  justify-content-between" id="nav">
            <a class="navbar-brand">
                <a routerLink = "/" id= "a2">WorkNeev</a>
            </a>
            <form class="form-inline">
                <div class="login-nav-button">
                    <a routerLink='/'> 
                        <button class="btn btn-success btn-sm" style="width: 100">Create New Account</button>
                     </a>
                  </div>
              <a routerLink="/register" id="a1">
                <div class="log_btn">
                  <button class="btn btn-dark btn-sm" style="width: 100">Create New Account</button>
                </div>
              </a>
            </form>
          </nav>
          <div class="container">
        <div class="center">
          <div class="form-group">
              <h3><b>Forgot Password</b> <br> <b>N</b>eed <b>N</b>ot  <b>W</b>orry</h3>
            <div class="txt_field">
                <span class="p-float-label">
                  <input type="text" class="form-control" [(ngModel)]="Username" id="float-input" pInputText>
                  <label id= "label"  for="float-input">Username  eg:abc@xyz.com</label>
                </span>
            </div>
            <div class="txt_field">
                <span class="p-float-label">
                  <input pPassword type="password" class="form-control" [(ngModel)]="NewPassword" />
                  <label for="float-input"> New Password</label>
                </span>
            </div>
            <div class="txt_field">
                <span class="p-float-label">
                  <input  type="password" class="form-control" [(ngModel)]=" repeatPass" id="float-input" pInputText required>
                  <label id= "label" for="float-input"> Repeat Password</label>
                </span>
              </div>
           
            <div class="log_btn">
              <button type="submit" class="btn btn-success btn-lg btn-block" (click)="update()" style="width: 100" >Retrieve Account</button>
            </div>
            
            
          </div>
        </div>
    </div>
      </body>